<div class="container-fluid">
    <a class="navbar-brand" href="index.html">MSANose Report</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Issues
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="index.html">Overview</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="shared-libraries.html">Shared Libraries</a></li>
                    <li><a class="dropdown-item" href="unversioned-apis.html">Unversioned API</a></li>
                    <li><a class="dropdown-item" href="too-many-standards.html">Too Many Standards</a></li>
                    <li><a class="dropdown-item" href="shared-persistence.html">Shared Persistence</a></li>
                    <li><a class="dropdown-item" href="microservices-greedy.html">Microservice Greedy</a></li>
                    <li><a class="dropdown-item" href="inappropriate-service-intimacy.html">Inappropriate Service Intimacy</a></li>
                    <li><a class="dropdown-item" href="hardcoded-endpoints.html">Hardcoded Endpoints</a></li>
                    <li><a class="dropdown-item" href="esb.html">Enterprise Message Bus Usage</a></li>
                    <li><a class="dropdown-item" href="wrong-cuts.html">Wrong Cuts</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
